* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #FFFFFF;
    color: #333;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Estilos para o header */
header{
    background-color: #35424a;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

/* Estilos para a navegação */
